@keyframes slide-in-from-top {
    from {
        bottom: 100%;
        visibility: hidden;
    }
    
    to {
        bottom: 0;
        visibility: visible;
    }
}

.slide-in {
    animation: slide-in-from-top 400ms ease-in-out forwards;
}

@keyframes slide-out-from-bottom {
    from {
        bottom: 0%;
        visibility: visible;
        
    }
    to {
        bottom: 100%;
        visibility: hidden;
    }
}

.slide-out {
    animation: slide-out-from-bottom 500ms ease-in-out forwards;
}

@keyframes fade-in-from-top {
    from {
        transform: translateY(-50px);
        visibility: hidden;
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade-out-from-bottom {
    from {
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
    }
    to {
        transform: translateY(-50px);
        visibility: hidden;
        opacity: 0;
    }
}

.fade-in {
    animation: fade-in-from-top 300ms ease-in-out forwards;
}
.fade-out {
    animation: fade-out-from-bottom 300ms ease-in-out forwards;
}

@keyframes submerge {
    from {
        bottom: 0;
    }
    to {
        bottom: -30px;
    }
}

@keyframes emerge {
    from {
        bottom: -30px;
    }
    to {
        bottom: 0px;
    }
}

.submerged {
    animation: submerge 500ms ease-in forwards;
}
.emerged {
    animation: emerge 500ms ease-out 800ms forwards;
}