$carousel-height: 400px !default;
$carousel-item-height: 300px !default;
$carousel-item-width: 300px !default;

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: $carousel-height;
    perspective: 500px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    opacity: 0;
    transition: all 500ms ease-in-out;
}

.carousel-item {
    visibility: hidden;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: scale 0.5s ease-in-out;
    perspective: 100000px;

    .card {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.4s ease-in;
        cursor: pointer;

        &.flipped {
            transform: rotateY(180deg);
        }

        .item-title-container {
            width: 100%;
            height: 0;
            position: relative;

            .item-title {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;
                padding: 5px;
                width: fit-content;
                transform: translateY(-20px);
                background-color: $overlay;
                border: 1px solid;
                border-radius: 5px;
                font-family: 'Saveur Sans';
            }
        }

        .front {
            backface-visibility: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            border: 1px solid;
            border-radius: 5px;

            & > img {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }

        .back {
            position: absolute;
            backface-visibility: hidden;
            transform: rotateY(180deg);
            width: 100%;
            height: 100%;
            background-color: $overlay;
            border: 1px solid;
            border-radius: 5px;
            cursor: pointer;

            .item-specs {
              position: relative;
              height: 100%;
              width: 100%;
              font-size: 16px;
                .item-description {
                  text-align: start;
                  position: absolute;
                  top: 2.5rem;
                  right: 0;
                  left: 0;
                  height: 70%;
                  overflow-y: scroll;
                  cursor: pointer;
                }
                .item-price {
                  position: absolute;
                  bottom: 1rem;
                  left: 0;
                  right: 0;
                }
            }
        }
    }
}
