.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
    display: block;
    font-family: 'Saveur Sans';

    @include breakpoint-up(laptop) {
        position: absolute;
    }

    @include breakpoint-down(tablet) {
        &.flex {
            justify-content: center;
            position: relative;
        }
    }

    nav {
        padding: 1rem 1.5rem;
        transition: all 500ms ease-in-out;
        
        @include breakpoint-down(tablet) {
            background-image: none;
        }

        @include breakpoint-up(laptop) {
            display: block;
            background: linear-gradient(to bottom, #fcfaeb 0%, #fcfaeb 32%, rgba(252,250,235,0.85) 70%, rgba(252,250,235,0.82) 71%, rgba(252,250,235,0) 100%);
            padding-bottom: 5rem;
        }

        &.non-main {
            @include breakpoint-up(laptop) {
                background: none;
            }
        }
    }

    .sticky {

        @include breakpoint-up(laptop) {

            width: 100%;
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
    
            .header__logo {
                margin-left: 2rem;
                margin-right: auto;
    
                img {
                    width: 6rem;
                }
            }

            .header__links {

                a {

                    font-size: 1rem;

                    @include breakpoint-down(laptop) {

                        font-size: $font_small;
                        margin: 0.5rem;
                    }
                }
            }
        }
    }

    &__logo {

        
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint-up(laptop) {
            display: block;
            text-align: center;
        }

        img {
            width: 8rem;
            height: auto;
            padding-top: .4rem;
            transition: all 500ms ease-in-out;

            @include breakpoint-down(tablet) {
                transition: width 300ms ease-in;
                width: 7rem;
            }
        }
    }

    &__toggle {

        z-index: 3;
        cursor: pointer;
        position: absolute;
        right: 0%;
        margin-right: 2rem;

        > span {
            display: block;
            width: 26px;
            height: 1px;
            background-color: $nav_links;
            transition: all 300ms ease-in;
            transform-origin: 4px .5px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__links {

        display: block;
        text-align: center;
        padding-top: .5rem;
        transition: all 500ms ease-in-out;

        .is-active {
            cursor: default;
            pointer-events: none;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -10px;
                display: block;
                height: 1px;
                background-color: $nav_links;
                width: 100%;
            }
        }

        

        .nav-link {
            cursor: pointer;
            display: inline;
            font-size: $font_medium;
            font-weight: bolder;
            margin: 0 1rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $nav_links;
            position: relative;
            padding: 2px;
            transition: color 300ms ease-in-out;

            

            
            &:not(.is-active)::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -10px;
                margin: 0 auto;
                display: block;
                height: 1px;
                background-color: $nav_links;
                width: 0%;
                transition: width 300ms ease-in-out;
            }

            &:hover {
                color: $nav_links_hover;

                &::before {
                    width: 100%;
                }
            }
        }
    }

// Hamburger open styles

    &.open {

        .header__toggle {
            > span:first-child {
                transform: rotate(45deg);
            }
            > span:nth-child(2) {
                opacity: 0;
            }
            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .mobile-nav-menu {
        position: fixed;
        left: 0;
        width: 100%;
        bottom: 100%;
        height: 100%;
        z-index: 2;
        visibility: hidden;
        background-color: $overlay;

        .mobile-links-canvas {
            display: block;
            visibility: hidden;
            position: absolute;
            z-index: 3;
            top: 150px;
            left: 0;
            right: 0;
            margin: auto;  

            @media (max-height: 676px) {
                top: 100px;
            }
            
            .is-active {
                cursor: default;
                pointer-events: none;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 20%;
                    display: block;
                    height: 1px;
                    background-color: $nav_links;
                    width: 100%;
                }
                
            }
            
            
            .mobile-link {
                visibility: hidden ;
                display: block;
                position: relative;
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
                padding: 1rem .625rem;
                color: $nav_links;
                font-weight: 400;
                text-align: center;
                z-index: 3;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }

        .social-links {
            position: absolute;
            left: 0;
            bottom: 50px;
            width: 100%;
            margin-top: 4rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin: 0 1.3rem;
            }

            img {
                visibility: hidden;
            }
        }
    }
}

.scroll {

    background-color: $overlay;

    nav {
        padding-bottom: 0;

    }
    
    .header__logo {
        
        img {
            transition: all 500ms ease-in-out;
            width: 5rem;
            padding: 0;
        }
    }
}

.header-spacer {
    // position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 166px;

    @include breakpoint-down(tablet) {
        height: 100px;
    }
}

.header-slicer {
    position: absolute;
    left: 0;
    top: 0;
    height: 1px;
}
