.main-jobs {
    min-height: 100vh;

    .bottom-image {
        background-image: url(/images/bottom/jobs.jpg);

        @include breakpoint-up(laptop) {
            background-image: url(/images/bottom/jobs-wide.jpg);
        }
    }

    h2 {
        margin-top: 5rem;
        @include breakpoint-down(tablet) {
            font-size: 35px;
        }
        @include breakpoint-down(mobile) {
            font-size: 30px;
        }
    }

    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
        font-size: $font_small;
    }

    form {
        padding-bottom: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;

        .input-file {

            &-text {
                text-align: start;
                margin-top: 1rem;
                margin-bottom: .5rem;
                margin-left: auto;
                margin-right: auto;
                max-width: 640px;
                font-size: $font_small;
            }

            &-receiver {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 6rem;
                max-width: 640px;
                font-size: $font_small;
                display: flex;
                justify-content: start;
                align-items: center;

                @include breakpoint-up(laptop) {
                    margin-bottom: 4rem;
                }

                &-btn {
                    display: inline-block;
                    background-color: $overlay;
                    color: $nav_links;
                    padding: 1rem;
                    border: 1px solid;
                    cursor: pointer;
                    transition: all 300ms ease-in-out;

                    &:active {
                        transform: scale(90%);
                    }

                    &:hover {

                        @include breakpoint-up(laptop) {
                            color: $overlay;
                            background-color: $nav_links;
                        }
                    }
                }

                &-selected {
                    color: grey;
                    margin-left: 1rem;
                    max-lines: 1;
                }
            }
        }

        input[type="file"] {
            display: none;
        }

        #loader {
            transform: translateY(-20px);
            margin-bottom: 1.9rem;
        }
        
    }
}