.main-contact {

    min-height: 100vh;

    h2 {
        margin-top: 5rem;
        padding: 0 1rem;

        @include breakpoint-down(tablet) {
            font-size: 30px;
        }
    }

    p {
        margin-bottom: 3rem;
        padding: 0 1rem;

        @include breakpoint-down(mobile) {
            font-size: $font_small;
        }
        
    }

    .bottom-image {
        background-image: url(/images/bottom/contact.jpg);

        @include breakpoint-up(laptop) {
            background-image: url(/images/bottom/contact-wide.jpg);
            
        }
    }

    form {
        padding-left: 1rem;
        padding-right: 1rem;

        .submit {
            margin-top: 4rem;
            padding-bottom: 3rem;

            #contact-submit {
                margin-bottom: 3.1rem;
            }
            
            #loader {
                transform: translateY(-20px);
            }
        }
    }
    
}