.main-history {
    position: relative;

    @include breakpoint-down(tablet) {
        height: calc(100vh - 100px);
    }
    @include breakpoint-up(laptop) {
        height: calc(100vh - 166px);
    }

    #back-image {
        position: absolute;
        left: 0;
        top: 20%;
        width: 150px;
        height: 150px;
        opacity: .5;
        z-index: 0;
        margin-left: 3rem;

        @include breakpoint-up(laptop) {
            top: 10%;
            width: 325px;
            height: 325px;
            margin-left: 12rem;
        }
    }

    #back-image-0 {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 200px;
        height: 200px;
        opacity: .5;
        z-index: 0;
        margin: 3rem;

        @include breakpoint-up(laptop) {
            width: 400px;
            height: 400px;
            margin-right: 12rem;
            margin-bottom: 0;
        }
    }

    section {
        height: 100%;
        position: relative;
        z-index: 100;

        h2 {
            margin-top: 2rem;
            font-size: 32px;
        }
    
        #history-btn {
            width: fit-content;
            padding: 1rem;
            background-color: $overlay;
            color: $nav_links;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 50%;
            font-family: 'Saveur Sans Regular';
            z-index: 100;
    
            &:active {
                transform: scale(90%);
            }
    
            @include breakpoint-up(laptop) {
                &:hover {
                    color: $overlay;
                    background-color: $nav_links;
                }
            }
            
        }
    }

    
}

#history-blanket {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: $nav_links;
    z-index: 500;
    transition: all 500ms ease-in-out;

    .slider {
        width: 100%;
        height: 100vh;
        color: $overlay;
        transition: all 500ms ease-in-out;

        .slick-slide {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            color: $overlay;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 500ms ease-in-out;

            .slick-text {
                font-family: 'FuturaRg';
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 50px;
                padding: 1rem;
                border: 1px solid $overlay;
                border-radius: 1rem;
                background-color: rgba(22, 11, 23, .5);
                color: $overlay;
                max-width: 60vw;
                line-height: 1.2;

                @include breakpoint-down(tablet) {
                    max-width: 80vw;
                    bottom: 15vh;
                }
            }
        }

        #slide-1 {
            background-image: url(/images/historia/01.jpg);
        }
        #slide-2 {
            background-image: url(/images/historia/02.jpg);
        }
        #slide-3 {
            background-image: url(/images/historia/03.jpg);
        }
        #slide-4 {
            background-image: url(/images/historia/04.jpg);
        }
        #slide-5 {
            background-image: url(/images/historia/05.jpg);
        }
        #slide-6 {
            background-image: url(/images/historia/06.jpg);
        }
        #slide-7 {
            background-image: url(/images/historia/07.jpg);
        }
        #slide-8 {
            background-image: url(/images/historia/08.jpg);
        }

        
    }
}

.history-focused {
    right: 0;
}

.hist-prev {
    color: $overlay;
    cursor: pointer;
    margin: 1rem;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 2rem;
    padding: 1rem;
    border: 1px solid $overlay;
    border-radius: 1rem;
    background-color: rgba(22, 11, 23, .5);
}

.hist-next {
    color: $overlay;
    z-index: 999;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 2rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid $overlay;
    border-radius: 1rem;
    background-color: rgba(22, 11, 23, .5);
}