.main-contact {
    form {
        padding: 0 1.5rem;

        .submit {
            margin-top: 4rem;
            padding-bottom: 3rem;

            #contact-submit {
                margin-bottom: 3.1rem;
            }

            #loader {
                transform: translateY(-20px);
            }
        }
    }

    .bottom-image {
        background-image: url(/images/bottom/contact.jpg);

        @include breakpoint-up(laptop) {
            background-image: url(/images/bottom/contact-wide.jpg);
        }
    }
}
