// Colors
$hamburger_menu: #7a5e5d;
$nav_links: #160b17;
$nav_links_hover: #372738;
$gray_body: #403b42;
$overlay: #fcfaeb;
$footer_back: #322433;
$background_for_background: #edf1dd;
$dried_wine: #722f37;

// Font Sizes
$font_medium: 1.125rem; // 18px
$font_small: 0.875rem; // 14px
$font_x_small: 0.5rem; // 12px